* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 250, 250);
    color: rgb(46, 15, 74);
    font-size: medium;
}

header {
    height: 72px;
    background-color: rgb(245, 162, 176);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 70px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(66, 19, 56);
}


nav {
    display: flex;
    gap: 28px;
}

nav a {
    color: rgb(86, 2, 61);
    text-decoration: none;
    font-size: 20px;
}

nav a:hover,
nav a.active {
    color: white;
}


.wishlist {
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: pink;
    color: rgb(77, 16, 54);
}


.guide{
    text-align: center;
    padding: 20px 40px;
}

.guide h1{
    font-size: 30px;
    margin-bottom: 25px;
}

.guide-intro{
    font-size: 25px;
    margin-bottom: 40px;
    color: #06172b;
}

.guide-container{
    color: #06172b;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}


.guide-card{
    width: 220px;
    min-height: 200px;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
}


.guide-number{
    font-size:25px;
    font-weight: bold;
    color: rgb(135, 52, 66);
    margin-bottom: 20px;
}


.guide-card h2{
    font-size:20px;
    margin-bottom:15px;
}

.guide-card p{
    font-size: 20px;
    line-height: 1.5;
    color: #06172b;
}

.guide-card:hover{
    transform: translateY(-5px);
}

.guide-button{
    margin-top:55px;
    padding: 35px;
    background-color: grey;
    border-radius: 15px;
}

.guide-bottom h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.guide-bottom p {
    margin-bottom: 20px;
}

.guide-button {
    display: inline-block;
    text-decoration: none;
    background-color: #c971b2;
    color: black;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
}

.guide-button:hover {
    background-color: #df7c8d;
    color: white;
}













footer {
    background-color: #06172b;
    color: white;
    text-align: center;
    padding: 35px 20px;
    margin-top: 30px;
}

.footer-logo {
    font-size: 22px;
    font-weight: bold;
}

.footer-logo span {
    color:#f28ba0;
}

.footer-logo p {
    font-size: 13px;
    font-weight: normal;
    margin-top: 8px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ff6680;
}

.copyright {
    font-size: 13px;
    color: #ccd4df;
}


